<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Esplin\CrudExample\Api\HouseRepositoryInterface"
                type="Esplin\CrudExample\Model\HouseRepository"/>
	<preference for="Esplin\CrudExample\Api\Data\HouseInterface" type="Esplin\CrudExample\Model\House"/>
	<preference for="Esplin\CrudExample\Api\Data\HouseSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

	<!-- Define grid data sources and matching Virtual Types -->
	<!-- In <type> we added a class for which we want to assign new values for the arguments -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<!-- CollectionFactory has an array called "collections" in its own constructor. Therefore we have to refer
			     to this parameter and set a new array as a means of collecting our data from the database. -->
			<argument name="collections" xsi:type="array">
				<item name="esplin_crudexample_house_listing_data_source" xsi:type="string">Esplin\CrudExample\Model\ResourceModel\House\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Esplin\CrudExample\Model\ResourceModel\House\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">esplin_crudexample_house</argument>
			<argument name="resourceModel" xsi:type="string">Esplin\CrudExample\Model\ResourceModel\House\Collection</argument>
		</arguments>
	</virtualType>
</config>
